<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Fuente Rubik de Google Fonts-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet">
<!--Hoja CSS-->
<link rel="stylesheet" href="/css/app.css">
<!--Archivos de Trix-->
<link rel="stylesheet" href="/css/trix.css">
<!--Sweet Alert 2-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<title th:text='${nombrePagina}'></title>
</head>
<body>
<div class="nombre-sitio contenedor">
    <h1>
        <a th:href="@{/}">DevJobs</a>
    </h1>

    <div th:if="barra" class="buscador">
        <form method="post" action="#">
            <input type="text" class="buscar" placeholder="Vacante a buscar">
            <input type="submit" value="Buscar">
        </form>
    </div>
</div>

<header class="header site-header contenedor separador">
    <h2 th:text="${nombrePagina}"></h2>

    <p class="tagline" th:if="tagline" th:text="${tagline}"></p>

</header>

<div class="contenido-principal contenedor">
    <main class="contenedor">
        <form action="" method="post" class="default-form" id="formEditarPerfil">
            <h3>Información General de la Vacante</h3>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" id="csrf">

            <div id="divAlertas"></div>
            <div class="campo">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Tu nombre de usuario">
            </div>
            <div class="campo">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" placeholder="Tu dirección email">
            </div>
            <div class="campo">
                <label for="descripcion">Descripción</label>
                <textarea id="descripcion" name="descripcion" cols="30" rows="10"></textarea>
            </div>
            <div class="campo">

            </div>
            <div class="campo">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="*****">
            </div>
            <div class="campo">
                <label for="password2">Confirma tu Password</label>
                <input type="password" name="password2" id="password2" placeholder="Confirma tu Password">
            </div>

            <div id="alertas"></div>
            <div class="campo centrar-horizontal">
                <input type="submit" value="Actualizar Perfil" class="btn btn-azul">
            </div>
        </form>
    </main>
</div>

<!-- Archivos de Trix -->
<script src="/js/trix.js"></script>
<script src="/js/usuario/actualizarPerfil.js"></script>
<!--Sweet Alert-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>-->